/*Gallery*/
body{
    margin: 0px;
    font-family: Poppins, sans-serif;
}

/*Navigation bar*/
.navbar_main{
    align-items: center;
    box-sizing: border-box;
    color: rgba(21, 21, 21, 0.8);
    background-color: #232930;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.navbar_menu{
    display: flex;
    list-style: none;
}

.nav_item > a{
    color: white;
    padding: 20px;
    text-decoration: none;
}

button{
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}



/*Our delicous coffee*/
.famous-coffee > h2{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.famous-coffee > p{
    text-align: center !important;
    color: #8a8b8d;
    padding-top: 10px;
    padding-left: 200px;
    padding-right:200px;
    padding-bottom: 40px;
    line-height: 1.6;
}

.cards_coffee{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    min-height: 300px;
    max-height: 300px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card > img{
    height: 75%;
}

.card-title > h4{
    padding-bottom: 20px;
}

.famous-coffee{
    padding-bottom: 130px;
}

/*Footer*/
footer{
    color: white;
    background-color: #232930;
    padding: 50px 0px 50px 0px ;
    text-align: center;
}

.mini-nav{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}

.mini-nav > ul > li{
    display: inline-block;
    list-style: none;
    padding: 0px 10px 50px 10px;

}

.mini-nav > ul > li >a{
    text-decoration: none;
    color: white;
}

.rights > p{
    color: #8a8b8d;
    font-size: 10px;
    letter-spacing: 1px;
}




