<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">
    <title>Manao Coffee</title>
    <link rel="stylesheet" type="text/css" href="../css/contacto.css">
</head>
<body>
    <!-- Header -->
    <header>
            <div class="navbar_main">
                <div class="navbar_panel">
                    <div class="navbar_logo">
                        <a href="index.html">
                            <img src="../images/ManaoCoffee.png" alt="Manao Logo" width="140" height="120">
                        </a>
                    </div>
                </div>
                <div class="navbar_main_element">
                    <ul class="navbar_menu">
                        <li class="nav_item">
                            <a href="../index.html">Home</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/galeria.html">Gallery</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/presupuesto.html">Form</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/contacto.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <button>Book now</button>
            </div>
    </header>

    <!-- Content of the website -->

    <!-- Contact -->
    <div class="contact-info">
        <h1>Location</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.7915695413317!2d1.2526131756283465!3d41.11724291270886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a3fcd40c95a5c9%3A0x4c0aa60aa8e49f2e!2sPl.%20de%20la%20Fuente%2C%2012%2C%2043003%20Tarragona%2C%20Espagne!5e0!3m2!1sfr!2slu!4v1692874878770!5m2!1sfr!2slu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <!-- Footer -->
    <footer>
        <div class="mini-nav">
            <ul class="mini-nav">
                <li><a href="">Menu</a></li>
                <li><a href=""></a>Contact</li>
                <li><a href=""></a>Gallery</li>
                <li><a href=""></a>About</li>
            </ul>
        </div>
        <div class="mini-nav">
            <ul class="social-list">
                <li><img src="../images/facebook-icon.png" alt="facebook"> <a href="#"></a></li>
                <li><img src="../images/instagram-icon.png" alt="instagram"><a href="#"></a></li>
                <li><img src="../images/youtube-icon.png" alt="youtube"><a href="#"></a></li>
            </ul>
        </div>
        <div class="rights">
            <p>©  2023 Manao Coffee, 12 plaza de la fuente, 43890, Tarragona. All Rights Reserved. Privacy Policy.</p>
        </div>
    </footer>
    <script src="#"></script>
</body>
</html>