<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">
    <title>Manao Coffee</title>
    <link rel="stylesheet" type="text/css" href="../css/contacto.css">
    <!--Creation map with Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" >
</head>
<body>
    <!-- Header -->
    <header>
            <div class="navbar_main">
                <div class="navbar_panel">
                    <div class="navbar_logo">
                        <a href="index.html">
                            <img src="../images/ManaoCoffee.png" alt="Manao Logo" width="140" height="120">
                        </a>
                    </div>
                </div>
                <div class="navbar_main_element">
                    <ul class="navbar_menu">
                        <li class="nav_item">
                            <a href="../index.html">Home</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/galeria.html">Gallery</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/presupuesto.html">Form</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/contacto.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <button>Book now</button>
            </div>
    </header>

    <!-- Content of the website -->

    <!-- Contact -->
    <h1>Location</h1>
    <div id="map"></div>
    <span>Tel: 693824226</span> <br>
    <span>Manao Coffee</span> <br>
    <span>12, plaça de la Font</span> <br>
    <span>43890 Tarragaona</span>

    <!-- Footer -->
    <footer>
        <div class="mini-nav">
            <ul class="mini-nav">
                <li><a href="">Menu</a></li>
                <li><a href=""></a>Contact</li>
                <li><a href=""></a>Gallery</li>
                <li><a href=""></a>About</li>
            </ul>
        </div>
        <div class="mini-nav">
            <ul class="social-list">
                <li><img src="../images/facebook-icon.png" alt="facebook"> <a href="#"></a></li>
                <li><img src="../images/instagram-icon.png" alt="instagram"><a href="#"></a></li>
                <li><img src="../images/youtube-icon.png" alt="youtube"><a href="#"></a></li>
            </ul>
        </div>
        <div class="rights">
            <p>©  2023 Manao Coffee, 12 plaza de la fuente, 43890, Tarragona. All Rights Reserved. Privacy Policy.</p>
        </div>
    </footer>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js" ></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../js/contacto.js"></script>
</body>
</html>