<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">
    <title>Manao Coffee</title>
    <link rel="stylesheet" type="text/css" href="../css/productos.css">
</head>
<body>
    <!-- Header -->
    <header>
            <div class="navbar_main">
                <div class="navbar_panel">
                    <div class="navbar_logo">
                        <a href="index.html">
                            <img src="../images/ManaoCoffee.png" alt="Manao Logo" width="140" height="120">
                        </a>
                    </div>
                </div>
                <div class="navbar_main_element">
                    <ul class="navbar_menu">
                        <li class="nav_item">
                            <a href="../index.html">Home</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/productos.html">Gallery</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/presupuesto.html">Form</a>
                        </li>
                        <li class="nav_item">
                            <a href="../views/contacto.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <button>Book now</button>
            </div>
    </header>

    <!-- Content of the website -->

    <!-- Our delicious coffee -->
    <section class="famous-coffee">
        <h2>Our delicious coffee</h2>
        <p>We offer a large variety of coffee. Drink and enjoy!</p>
        <div class="cards_coffee">
            <div class="card">
                <img src="../images/capucchino.jpg" alt="capucchino" style="width:100%">
                <div class="card-title">
                    <h4>Capucchino</h4>
                </div>
            </div>
            <div class="card">
                <img src="../images/coffeeMintLavander.jpg" alt="mintLavander" style="width:100%">
                <div class="card-title">
                    <h4>Mint Lavander</h4>
                </div>
            </div>
            <div class="card">
                <img src="../images/blueMatcha2.jpg" alt="blueMatcha" style="width:100%">
                <div class="card-title">
                    <h4>Blue Matcha</h4>
                </div>
            </div>
            <div class="card">
                <img src="../images/bonbonCoffee.jpg" alt="bonbon" style="width:100%">
                <div class="card-title">
                    <h4>Bonbon</h4>
                </div>
            </div>
            <div class="card">
                <img src="../images/cafeconhielojpg.jpg" alt="cafeconhielo" style="width:100%">
                <div class="card-title">
                    <h4>Iced coffee</h4>
                </div>
            </div>
            <div class="card">
                <img src="../images/pinkMatcha2jpg.jpg" alt="PinkMatcha" style="width:100%">
                <div class="card-title">
                    <h4>Pink Matcha</h4>
                </div>
            </div>
            <div class="card">
                <img src="../images/trifacicoCoffee.jpg" alt="trifacico" style="width:100%">
                <div class="card-title">
                    <h4>Trifacico</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="mini-nav">
            <ul class="mini-nav">
                <li><a href="">Menu</a></li>
                <li><a href=""></a>Contact</li>
                <li><a href=""></a>Gallery</li>
                <li><a href=""></a>About</li>
            </ul>
        </div>
        <div class="mini-nav">
            <ul class="social-list">
                <li><img src="../images/facebook-icon.png" alt="facebook"> <a href="#"></a></li>
                <li><img src="../images/instagram-icon.png" alt="instagram"><a href="#"></a></li>
                <li><img src="../images/youtube-icon.png" alt="youtube"><a href="#"></a></li>
            </ul>
        </div>
        <div class="rights">
            <p>©  2023 Manao Coffee, 12 plaza de la fuente, 43890, Tarragona. All Rights Reserved. Privacy Policy.</p>
        </div>
    </footer>
    <script src="#"></script>
</body>
</html>